<script>
	function setDescribe() {
		$('#describe').css({display: $('#task_is_story').is(":checked") ? "none" : ""})
	}
	$(function() {
		setDescribe();
	});
</script>
<% form_for(@task) do |f| %>
	<%= f.error_messages %>

<fieldset>
	<legend>Edit task #<%= @task.id %></legend>

	<p>
	  <%= f.label :story %>
	  <div class="input">
		  <textarea class="xlarge" rows="5" readonly="1"><%=h @task.story.description if @task.story_id %></textarea>
	  </div>
	  <%= f.hidden_field :story_id %>
	</p>
	<p>
	  <%= f.label :is_story %>
	  <div class="input">
	  <%= f.check_box :is_story, :onchange => 'setDescribe()' %>
	  Is only task in this story.
	  </div>
	</p>
	<div id="describe">
	  <p>
		<%= f.label :description %>
		<div class="input">
		<%= f.text_area :description, :class => "xlarge", :rows => 5 %>
		</div>
	  </p>
	</div>

  <p>
    <%= f.label :user_id %>
	<div class="input">
	<%= select "task", "user_id", User.all.collect{|x| [x.name, x.id]}, { :include_blank => "nobody" } %>
	</div>
  </p>
	<p>
	  <%= f.label :status %>
	  <div class="input">
	  <%= select_tag "task[status]", options_for_select(["open", "progress", "closed"], @task.status) %>
	  </div>
	</p>
	<p>
	  <%= f.label :estimate %>
	  <div class="input">
	  <%= text_field_tag "task[estimate]", @task.estimate, :type => 'number', :class => 'span2', :min => 0, :step => 15, :max => 360, :autocomplete => 'off' %> minutes
	  </div>
	</p>
	<p>
	  <%= f.label :actual %>
	  <div class="input">
	  <%= text_field_tag "task[actual]", @task.actual, :type => 'number', :class => 'span2', :min => 0, :step => 15, :max => 360, :autocomplete => 'off' %> minutes
	  </div>
	</p>
	<p>
	  <%= f.label :completed %>
	  <div class="input date">
	  <%= f.datetime_select :completed %>
	  </div>
	</p>

  <p>
    <%= f.submit 'Update', :class => "btn primary"  %>
  </p>
</fieldset>
<% end %>
<%= set_focus('description') %>
<%= link_to 'Show', @task, :class => "btn info" %>
<%= link_to 'Back', :back, :class => 'btn success' %>