<h1>Users</h1>

<%

   @users.each do |user|
	   used = 0
	   avail = 0
	   used = @used_time[user.id] unless @used_time[user.id].nil?
	   avail = user.workday_minutes unless user.workday_minutes.nil?

%>
	<h3><%= h user.name %></h3>
	<%= in_hours user.workday_minutes %> per workday.
	<%= in_hours used %> of allocated tasks

	<% if avail > 0 %>
		will take <%= (used / user.workday_minutes) %> workdays to complete
	<% end %><br/>

	<% @sprints.each do |sprint| %>
		<%

		   unless @sprint_times[sprint.id].blank? or @sprint_times[sprint.id][user.id].blank?
			   time = @sprint_times[sprint.id][user.id]

		%>
			<h4>Sprint <%= "##{sprint.id} (#{sprint.name})" %></h4>
			<%= "#{user.name} has #{in_hours time}" %> hours of assigned tasks remaining.<br/>
			<ul>
				<% @tasks.each do |t| %>
					<%
					   if t.story.sprint_id == sprint.id and t.user_id == user.id
						   task_name = t.description
						   if t.description.blank?
							   if t.is_story
								   task_name = t.story.description
							   else
								   task_name = "Unnamed task"
							   end
						   end

					%>
						<li><%= link_to max_length(task_name, 60), task_path(t.id) %> <%= "(#{in_hours t.estimate})" %></li>
					<% end %>
				<% end %>
			</ul>
		<% end %>

		<h4>Completed</h4>
		<ul>
			<%
			   estimate = 0
			   actual = 0
			   sprint.stories.each do |story|
				   story.tasks.each do |task|
					   if task.status == 'closed' and task.user_id == user.id
						   estimate += task.estimate unless task.estimate.nil?
						   actual += task.actual unless task.actual.nil?
						   task_name = task.description
						   if task.description.blank?
							   if task.is_story
								   task_name = story.description
							   else
								   task_name = "Unnamed task"
							   end
						   end

			%>
						<li><%= link_to max_length(task_name, 60), task_path(task.id) %> <%= "(#{in_hours task.estimate} => #{in_hours task.actual} actual)" %></li>
					<%
					   end
					   end
					   end
					%>
		</ul>
		<%= in_hours estimate %> estimated, with <%= in_hours actual %> actual = &Delta; <%= (estimate - actual)/60 %>h
	<% end %><br/><br/>

	<%= link_to 'Edit', edit_user_path(user) %> |
	<%= link_to 'Del', user, :confirm => 'Are you sure?', :method => :delete %><br/><br/>
<% end %><br/><br/>

<h1>Unassigned tasks</h1>
<% @sprints.each do |sprint|
	time = 0
	total = 0
	last_name = nil
%>
	<% unless @sprint_times[sprint.id].blank? %>
		<h3><%= "##{sprint.id} (#{sprint.name})" %></h3>
		<ul style="list-style: none">
			<% @tasks.each do |t| %>
				<%
				   total += t.estimate
				   if t.story.sprint_id == sprint.id and t.user_id.blank?
					   story_name = t.story.description
					   task_name = t.description
					   if t.description.blank?
						   if t.is_story
							   task_name = "Implement story"
						   else
							   task_name = "Unnamed task"
						   end
					   end

					   story_name = nil if (story_name == last_name)
					   last_name = t.story.description

					   time += t.estimate
				%>
					<%= story_name.blank? ? "" : "<br/><li><b>" + link_to("#{t.story.category.titleize} ##{t.story.id}", story_path(t.story.id)) + ":<br/>#{max_length story_name, 80}</b></li>" %>
					<li style="padding-left: 10px"><%= link_to max_length(task_name, 80), task_path(t.id) %> <%= "(#{in_hours t.estimate})" %></li>
				<% end %>
			<% end %>
		</ul>
		Sprint has <%= in_hours time %> of unallocated tasks (<%= in_hours total %> including allocated)

		<%
		   estimate = 0
		   actual = 0
		   sprint.stories.each do |story|
			   story.tasks.each do |task|
				   if task.status == 'closed'
					   estimate += task.estimate unless task.estimate.nil?
					   actual += task.actual unless task.actual.nil?
				   end
			   end
		   end
		%>
		<h4>Completed</h4>
		<%= in_hours estimate %> estimated, with <%= in_hours actual %> actual = &Delta; <%= (estimate - actual)/60 %>h
	<% end %>
<% end %>

<br/><br/>

<%= link_to 'New user', new_user_path, :class => 'btn success' %>
