<form>
  <fieldset>
    <legend>Sprint #<%= @sprint.id %></legend>

	<%= display_field :name => 'Name', :value => @sprint.name %>
	<%= display_field :type => :textarea, :name => 'Goal', :value => @sprint.goal %>
	<%= display_field :name => 'Start', :value => @sprint.start %>
	<%= display_field :name => 'End', :value => @sprint.end %>
	<%= display_field :name => 'Status', :value => @sprint.status %>
  </fieldset>
</form>

<%= link_to 'Edit', edit_sprint_path(@sprint), :class => 'btn primary' %>
<%= link_to 'Back', :back, :class => 'btn success' %>