<h1>Listing stories</h1>

<table>
  <tr>
    <th>Description</th>
    <th title="Business value"><span class="has-hint">BV</span></th>
    <th title="Technical value"><span class="has-hint">TV</span></th>
    <th>Sprint</th>
    <th>Category</th>
    <th>Status</th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%= link_to story.description, story_path(story) %></td>
    <td><%=h story.business_value %></td>
    <td><%=h story.technical_value %></td>
    <td><%=h story.sprint_id %></td>
    <td><%=h story.category %></td>
    <td nowrap="1"><%=h story.status %></td>
    <td class="action" nowrap="1">
    <%= link_to 'Edit', edit_story_path(story), :class => 'btn primary' %>
    <%= link_to 'Del', story, :class => 'btn danger', :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New story', new_story_path, :class => 'btn success' %>
