<h1>Listing stories</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Business value</th>
    <th>Technical value</th>
    <th>Sprint</th>
    <th>Category</th>
    <th>Status</th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%=h story.description %></td>
    <td><%=h story.business_value %></td>
    <td><%=h story.technical_value %></td>
    <td><%=h story.sprint_id %></td>
    <td><%=h story.category %></td>
    <td><%=h story.status %></td>
    <td><%= link_to 'Show', story %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New story', new_story_path %>