<% form_for(@story) do |f| %>
  <%= f.error_messages %>
<fieldset>
	<legend>New story</legend>
  <p>
    <%= f.label :description %>
	<div class="input">
    <%= f.text_area :description, :class => "xlarge", :rows => 5 %>
	</div>
  </p>
  <p>
    <%= f.label :business_value %>
	<div class="input">
		<%= text_field_tag "story[business_value]", 1, :type => 'number', :class => 'span2', :min => 1, :max => 10, :autocomplete => 'off' %>
	</div>
  </p>
  <p>
    <%= f.label :technical_value %>
	<div class="input">
    <%= text_field_tag "story[technical_value]", 9, :type => 'number', :class => 'span2', :min => 1, :max => 10, :autocomplete => 'off' %>
	</div>
  </p>
  <p>
    <%= f.label :sprint_id %>
	<div class="input">
	<%= select_tag "story[sprint_id]", options_for_select(Sprint.all.collect{|x| [x.name, x.id]}, @story.sprint_id) %>
	</div>
  </p>
  <p>
    <%= f.label :category %>
	<div class="input">
	<%= select_tag "story[category]", options_for_select(["feature", "bug", "action"], @story.category)%>
	</div>
  </p>
  <p>
    <%= f.label :status %>
	<div class="input">
    <%= select_tag "story[status]", options_for_select(["concept bin", "not started", "in progress", "complete"], "not started") %>
	</div>
  </p>

  <p>
	<%= f.label :estimate %>
	<div class="input">
	<%= text_field_tag :estimate, '', :type => 'number', :class => 'span2', :min => 0, :step => 15, :max => 360, :autocomplete => 'off' %> minutes
	</div>
  </p>

	<p>
    <%= f.submit 'Create', :class => "btn primary"  %>
  </p>
	</fieldset>
<% end %>
<%= set_focus('story_description') %>
<%= link_to 'Back', :back, :class => 'btn success' %>