<form>
  <fieldset>
    <legend>Story #<%= @story.id %></legend>

	<%= display_field :name => 'Description', :value => @story.description, :type => :textarea %>
	<%= display_field :name => 'Business Value', :value => @story.business_value %>
	<%= display_field :name => 'Technical Value', :value => @story.technical_value %>
	<%= display_field :name => 'Sprint', :value => (@story.sprint_id.blank? ? "" : "##{@story.sprint_id}: #{@story.sprint.goal}") %>
	<%= display_field :name => 'Category', :value => @story.category %>
	<%= display_field :name => 'Status', :value => @story.status %>
  </fieldset>
</form>

<%= link_to 'Edit', edit_story_path(@story), :class => 'btn primary' %>
<%= link_to 'Back', :back, :class => 'btn success' %>
