<%
bv = @story.business_value
tv = @story.technical_value

bv = 0 if bv.blank?
tv = 0 if tv.blank?

ov = bv + tv

bv = '?' if bv == 0
tv = '?' if tv == 0
ov = '?' if ov == 0
%>

<section class="story">
<h3><%= @story.category.blank? ? "STORY" : @story.category.upcase %> #<%= @story.id %> (<%= @story.status.titleize %>)</h3>
<small><%= @story.sprint_id.blank? ? "" : "Sprint ##{@story.sprint_id}: #{h @story.sprint.goal}<br/>" %></small>

<div class="description">
	<%=h @story.description %>
</div>

BV: <b><%= bv %></b> TV: <b><%= tv %></b> [<b><%= ov %></b>]<br/><br/>

<%= link_to 'Edit', edit_story_path(@story), :class => 'btn primary' %>
<%= link_to 'Back', :back, :class => 'btn success' %>
</section>
